@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #fcfcfc;
  --color-primary: #d4af37;
  --color-accent: #1e1e1e;
  --color-muted: #888888;
  
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::selection {
    background-color: rgba(212, 175, 55, 0.3); /* primary/30 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
